@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
:root {
  font-size: 16px;
  font-family: "Karla", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
  background-color: #e5eff5;
}

.container-wrapper .container {
  margin-top: 10em;
  padding: 2em;
  width: clamp(300px, 100%, 750px);
}

@media screen and (min-width: 650px) {
  .container-wrapper .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.container-wrapper .container > div {
  padding: 2em;
}

@media screen and (min-width: 650px) {
  .container-wrapper .container > div {
    padding: 2.5em;
  }
}

.container-wrapper .container .top {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  background-color: white;
  border-radius: 0.5em 0.5em 0 0;
}

.container-wrapper .container .top h2 {
  font-size: 6vw;
  color: #2ab2af;
  margin-bottom: 0.8em;
}

@media screen and (min-width: 650px) {
  .container-wrapper .container .top h2 {
    font-size: 1.6rem;
  }
}

.container-wrapper .container .top p {
  font-size: 4vw;
  color: #98a6bd;
  line-height: 180%;
}

@media screen and (min-width: 400px) {
  .container-wrapper .container .top p {
    font-size: 1.1rem;
  }
}

.container-wrapper .container .top p.yellow {
  color: rgba(152, 166, 189, 0.4);
  text-shadow: 0 0 0.05em #c0df34;
  margin-bottom: 0.2em;
}

.container-wrapper .container .right,
.container-wrapper .container .left {
  color: white;
}

.container-wrapper .container .right h3,
.container-wrapper .container .left h3 {
  margin-bottom: 1em;
}

.container-wrapper .container .left {
  background-color: rgba(42, 178, 175, 0.85);
  border-radius: 0 0 0 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-wrapper .container .left p.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e5eff5;
  margin-bottom: 1em;
}

.container-wrapper .container .left p.price span {
  font-weight: 400;
  color: white;
  font-size: 2.5rem;
  margin-right: 0.6em;
}

.container-wrapper .container .left button {
  margin-top: 2em;
  display: inline-block;
  font-size: 1.1rem;
  color: white;
  background-color: #c0df34;
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  outline: none;
  -webkit-box-shadow: 0 0 0.5em 0 gray;
          box-shadow: 0 0 0.5em 0 gray;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container-wrapper .container .left button:hover, .container-wrapper .container .left button:focus {
  background-color: rgba(192, 223, 52, 0.8);
  -webkit-box-shadow: 0 0 1em 0 gray;
          box-shadow: 0 0 1em 0 gray;
}

.container-wrapper .container .right {
  background-color: #2ab2af;
  border-radius: 0 0 0.5em 0;
}

.container-wrapper .container .right p {
  font-size: 4vw;
  line-height: 175%;
  color: #e5eff5;
  font-weight: 200;
}

@media screen and (min-width: 400px) {
  .container-wrapper .container .right p {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */